{% extends 'dashboards/base.html' %}
{% block content %}
    
<body>
    <div class="white-text">
        <br>
        <br>
        <div class="container">
            <div class="row s12 center">
                <img src="{{user_info.avatar_url}}" alt="" class="circle" height="200" width="200">
                <h3>{{user_info.name}}</h3>
                <h5><a href="{{user_info.html_url}}">{{user_info.github_id}}</a></h5>
                <h5>{{user_info.bio}}</h5> 
            </div>
            <div class="row">
                <div class="col s2 offset-s3">
                    <p><i class="material-icons left">work</i>{{user_info.company}}</p>
                </div>
                <div class="col s2">
                    <p><i class="material-icons left">location_on</i>{{user_info.location}}</p>
                </div>
                <div class="col s2">
                    <p><i class="material-icons left">date_range</i>{{user_info.created_at}}</p>
                </div>
                
            </div>

            <div class="row">
                <div class="col m6 s12">
                    
                    <div class="card">
                        <h5 class="black-text">Repositores per language</h5>
                        <canvas id="projects-language"> 
                        </canvas>
                    </div>
                    
                </div>
                <div class="col m6 s12">
                    
                    <div class="card">
                        <h5 class="black-text">Languages Distribution</h5>
                        <canvas id="languages-distribution"> 
                        </canvas>
                    </div>
                </div>
            </div>    
        </div>
   </div>
   <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Top Repositories (By Stars)</h3>
            </div>
        </div>
        <div class="row">
            {% for repo in repos_info %}
            <div class="col s6 m4">
                <a href="{{repo.html_url}}" target="_blank">
                    <div class="card black-text">
                        <div class="card-content">
                            <span class="card-title"><b>{{repo.name}}</b></span>
                            <div>{{repo.description}}</div>
                            <br>
                            <div class="left">{{repo.language}}</div>
                            <div class="right">{{repo.size}}</div>
                        </div> 
                    </div>
                </a>
            </div>
            {% endfor %}


        </div>
    </div>
    <script>
        let projectsLanguage = document.getElementById('projects-language').getContext('2d');

    // Global options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor  = '#777';

    let myChart = new Chart(projectsLanguage, {
        type: 'bar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: {{languages | safe}},
            datasets:[{
                label: 'Repositores',
                data: {{num_projects|safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)'
                ],
                borderWidth: 0,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }],
            
        },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display:true
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display:true
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title:{
                    display: false,
                    text: "Repositores per language",
                    fontSize: 22
                },
                legend:{
                    display: false,
                    position: 'right',
                    labels:{
                        fontColor: '#000'
                    }
                },
                layout:{
                    padding: {
                        left:50,
                        right:0,
                        bottom:0,
                        top:0
                    }
                },
                tooltips:{
                    enabled:true
                }
            },
        });

    </script>
    <script>
        let languagesDistribution = document.getElementById('languages-distribution').getContext('2d');



    let myChart2 = new Chart(languagesDistribution, {
        type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: {{languages_distribution | safe}},
            datasets:[{
                label: 'Population',
                data: {{bytes_per_language|safe}},
                backgroundColor: [  
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 99, 132, 0.6)'
                ],
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }],
            
        },
            options: {
                title:{
                    display: true,
                    text: "Largets cities in MS",
                    fontSize: 25
                },
                legend:{
                    display: false,
                    position: 'right',
                    labels:{
                        fontColor: '#000'
                    }
                },
                layout:{
                    padding: {
                        left:50,
                        right:0,
                        bottom:0,
                        top:0
                    }
                },
                tooltips:{
                    enabled:true
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            let datasets = ctx.chart.data.datasets;
                            if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                            let sum = datasets[0].data.reduce((a, b) => a + b, 0);
                            let percentage = Math.round((value / sum) * 100) + '%';
                            return percentage;
                            } else {
                            return percentage;
                            }
                        },
                    color: '#fff',
                    }       
                }
                
            },
        });

    </script>

</body>
{% endblock content %}